h1 {
  font-family: 'Itim', cursive;
  text-align: center;
  font-size: 40px;
}

body {
  background-image: url("http://images.clipartpanda.com/background-clipart-HzeN8sS.png");
  background-size: 85%;
}

p  {
  font-family: 'Itim', cursive;
  font-size: 20px;
  text-align: center;
}
